img {
  width: 200px;
}
.column {
  float: left;
  width: 30%;
}
.name {
  font-weight: bold;
}
.name1 {
  font-size: 20px;
}
.name2{
  font-weight: lighter;
}
.column li{
  font-style: italic;
}
.column p a{
  background-color: red;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
  body {
    background-color: black;
    color: white;
  }
}
@media screen and (min-width: 700px) and (max-width: 1000px) {
  body {
    background-color: yellow;
    color: white;
  }
}
